{% extends "layout.html" %}

{% block content %}

<h1 class="text-center p-4">{{ context.name }}'s Dashboard</h1>
<h2 class="text-center p-2">Here's your favorite <b>Citi Bike Stations</b></h2>
<hr/>

<div class="container">
    <div class="row">
        <div class="col-sm-3 p-2">
            <h4>Preference</h4>
        </div>
        <div class="col-sm-3 p-2">
            <h4>Station</h4>
        </div>
        <div class="col-sm-2 p-2">
            <h4># Bikes</h4>
        </div>
        <div class="col-sm-2 p-2">
            <h4># E-Bikes</h4>
        </div>
        <div class="col-sm-2 p-2">
            <h4># Parking</h4>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-3 p-2">
            <h5><b>Favorite</b></h5>
        </div>
        <div class="col-sm-3 p-2">
            <h5>{{ context.first_station }}</h5>
        </div>
        <div class="col-sm-2 p-2">
            <h6>{{ context.first_station_bikes }}</h6>
        </div>
        <div class="col-sm-2 p-2">
            <h6>{{ context.first_station_ebikes }}</h6>
        </div>
        <div class="col-sm-2 p-2">
            <h6>{{ context.first_station_parking }}</h6>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-3 p-2">
            <h5><b>Second Favorite</b></h5>
        </div>
        <div class="col-sm-3 p-2">
            <h5>{{ context.second_station }}</h5>
        </div>
        <div class="col-sm-2 p-2">
            <h6>{{ context.second_station_bikes }}</h6>
        </div>
        <div class="col-sm-2 p-2">
            <h6>{{ context.second_station_ebikes }}</h6>
        </div>
        <div class="col-sm-2 p-2">
            <h6>{{ context.second_station_parking }}</h6>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-3 p-2">
            <h5><b>Third Favorite</b></h5>
        </div>
        <div class="col-sm-3 p-2">
            <h5>{{ context.third_station }}</h5>
        </div>
        <div class="col-sm-2 p-2">
            <h6>{{ context.third_station_bikes }}</h6>
        </div>
        <div class="col-sm-2 p-2">
            <h6>{{ context.third_station_ebikes }}</h6>
        </div>
        <div class="col-sm-2 p-2">
            <h6>{{ context.third_station_parking }}</h6>
        </div>
    </div>
</div>

<hr/>


<h2 class="text-center p-3">Favorite station location</h2>
<h4 class="text-center">{{ context.first_station }}</h4>
<div style="display: flex; justify-content: center;">
    <iframe
    width="600"
    height="450"
    frameborder="0"
    scrolling="no"
    marginheight="0"
    marginwidth="0"
    src="https://maps.google.com/maps?q={{ context.first_station_lat }}, {{ context.first_station_lon }}&hl=en&z=15&amp;output=embed"
    class="p-3"
    >
    </iframe>
</div>

<script src="https://www.gstatic.com/firebasejs/9.6.4/firebase-app-compat.js"></script>
<script src="https://www.gstatic.com/firebasejs/9.6.4/firebase-auth-compat.js"></script>
<script src="https://www.gstatic.com/firebasejs/9.6.4/firebase-performance-compat.js"></script>

<script>
  window.onload = () => {
    console.log('Running onload')
    const firebaseConfig = {
      apiKey: "AIzaSyALE-ixa0ovDL8unWhkKt-5gwKQpWds2UY",
      authDomain: "cytybyke-c917e.firebaseapp.com",
      projectId: "cytybyke-c917e",
      storageBucket: "cytybyke-c917e.appspot.com",
      messagingSenderId: "4237355229",
      appId: "1:4237355229:web:e0fcf24ab9f52534c01334",
      measurementId: "G-750EM4JDLJ"
    };

    const app = firebase.initializeApp(firebaseConfig);

    app.auth().setPersistence(firebase.auth.Auth.Persistence.NONE);

    const perf = firebase.performance();

    document
      .getElementById("logout-form")
      .addEventListener("submit", (event) => {
        event.preventDefault();

        firebase.auth().signOut().then(() => {
          console.log("Signing out...");
          
          fetch("/sessionLogout", {
            method: "POST",
          });
        }).then(function(response) {
          window.location.assign("/sign-in");
        }).catch((error) => {
      // An error happened.
          console.log(error);
        });
    });
};
</script>

<!--Log out button-->
<hr/>
<div>
    <form id="logout-form" class="col-md-2 offset-lg-5 p-3">
        <input type="submit" value="Log Out">
    </form>
</div>

{% endblock content %}