{% extends "layout.html" %}

{% block content %}
<!-- TODO: Make logout button nicer and remove logout from layout.html -->
<div>
    <form id="logout-form">
        <input type="submit" value="LOG OUT FOR REAL">
    </form>
</div>

<h1 class="text-center p-4">{{ context.name }}'s Dashboard</h1>
<h2 class="text-center p-2">Here's your favorite <b>Citi Bike Stations</b></h2>
<hr/>

<div class="container">
    <div class="row">
        <div class="col-sm-3 p-2">
            <h4>Preference</h4>
        </div>
        <div class="col-sm-5 p-2">
            <h4>Station</h4>
        </div>
        <div class="col-sm-2 p-2">
            <h4># Bikes</h4>
        </div>
        <div class="col-sm-2 p-2">
            <h4># Parking</h4>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-3 p-2">
            <h5><b>Favorite</b></h5>
        </div>
        <div class="col-sm-5 p-2">
            <h5>{{ context.first_station }}</h5>
        </div>
        <div class="col-sm-2 p-2">
            <h6>#</h6>
        </div>
        <div class="col-sm-2 p-2">
            <h6>#</h6>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-3 p-2">
            <h5><b>Second Favorite</b></h5>
        </div>
        <div class="col-sm-5 p-2">
            <h5>{{ context.second_station }}</h5>
        </div>
        <div class="col-sm-2 p-2">
            <h6>#</h6>
        </div>
        <div class="col-sm-2 p-2">
            <h6>#</h6>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-3 p-2">
            <h5><b>Third Favorite</b></h5>
        </div>
        <div class="col-sm-5 p-2">
            <h5>{{ context.third_station }}</h5>
        </div>
        <div class="col-sm-2 p-2">
            <h6>#</h6>
        </div>
        <div class="col-sm-2 p-2">
            <h6>#</h6>
        </div>
    </div>
</div>

<hr/>

<div style="display: flex; justify-content: center;">
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3118.2950722309115!2d-73.95902665475894!3d40.75430691474512!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89c258dfce46cceb%3A0x3be2bbe969c4c472!2sCiti%20Bike%3A%20Southpoint%20Park!5e0!3m2!1sen!2sus!4v1650590640779!5m2!1sen!2sus"  width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade" class="p-3"></iframe>
</div>

<script src="https://www.gstatic.com/firebasejs/9.6.4/firebase-app-compat.js"></script>
<script src="https://www.gstatic.com/firebasejs/9.6.4/firebase-auth-compat.js"></script>
<script src="https://www.gstatic.com/firebasejs/9.6.4/firebase-performance-compat.js"></script>

<script>
  window.onload = () => {
    console.log('Running onload')
    const firebaseConfig = {
      apiKey: "AIzaSyALE-ixa0ovDL8unWhkKt-5gwKQpWds2UY",
      authDomain: "cytybyke-c917e.firebaseapp.com",
      projectId: "cytybyke-c917e",
      storageBucket: "cytybyke-c917e.appspot.com",
      messagingSenderId: "4237355229",
      appId: "1:4237355229:web:e0fcf24ab9f52534c01334",
      measurementId: "G-750EM4JDLJ"
    };

    const app = firebase.initializeApp(firebaseConfig);

    app.auth().setPersistence(firebase.auth.Auth.Persistence.NONE);

    const perf = firebase.performance();

    document
      .getElementById("logout-form")
      .addEventListener("submit", (event) => {
        event.preventDefault();

        firebase.auth().signOut().then(() => {
          console.log("Signing out...");
          
          fetch("/sessionLogout", {
            method: "POST",
          });
        }).then(function(response) {
          window.location.assign("/sign-in");
        }).catch((error) => {
      // An error happened.
          console.log(error);
        });
    });
};
</script>

{% endblock content %}