{% extends "layout.html" %}
 
{% block content %}
<h1 class="text-center p-4"><b>CytyByke</b></h1>
<hr/>
<h2 class="text-center p-2">Custom Citi Bike Dashboard</h2>
<h3 class="text-center text-muted p-2">
   Stayed informed about the conditions of your favorite Citi Bike stations
</h3>

<div class="container">
    <div class="row">
      <img class='img-fluid w-100 px-0' src="https://nycdotbikeshare.info/sites/default/files/2018-07/Citi%20Bike%20Riders%20in%20NYC_cropped.jpg" alt=""/>
    </div>
</div>

<div class="col text-center p-4">
    <a class="btn btn-secondary btn-lg active" href="{{ url_for('sign_up') }}">Sign Up</a>
    <a class="btn btn-secondary btn-lg active" href="{{ url_for('sign_in') }}">Sign In</a>
</div>

<p class="lead text-center p-0">
    <b>Your stations</b> displayed on <b>your personalized dashboard</b></p>
</p>
<p class="lead text-center p-0">
    Check if there is a bike available at your closest station, or see if a bike is available at a different destination.
</p>
 
<!-- Placeholder to show it is dynamic -->
<p>{{ context.server_time }}</p>
{% endblock content %}