{% extends "layout.html" %}
<h1>Welcome to your Settings page</h1>

<h2>Save your favorite stations!</h2>

{% block content %}
<h1 class="text-center p-4">Settings</h1>
<h2 class="text-center p-2">Save your <b>Citi Bike Docks</b></h2>
<h3 class="text-center text-muted p-3">
   Enter or update your preferred stations below
</h3>
<hr/>

{% with messages = get_flashed_messages() %}
  {% if messages %}
    <ul class>
    {% for message in messages %}
      <li>{{ message }}</li>
    {% endfor %}
    </ul>
  {% endif %}
{% endwith %}

<form id="login-form">
  <div class="form-group p-3 col-md-6 offset-lg-3">
      <!--Perhaps this type should be different to select from drop down menu-->
      <input type="text" name="station1" class="form-control" placeholder="Favorite Station" value="{{ request.form['station1'] }}"></input>
  </div>
  <div class="form-group p-3 col-md-6 offset-lg-3">
      <input type="text" name="station2" class="form-control" placeholder="Second Favorite Station" value="{{ request.form['station2'] }}"></input>
  </div>
  <div class="form-group p-3 col-md-6 offset-lg-3">
    <input type="text" name="station3" class="form-control" placeholder="Third Favorite Station" value="{{ request.form['station3'] }}"></input>
  </div>
      <a class="btn-dark btn-lg col-md-4 offset-lg-5" href="{{ url_for('dashboard') }}" style='text-decoration:none;'>Save</a>
  </div>
</form>

{% endblock content %}