{% extends "layout.html" %}

{% block content %}
<h1 class="text-center p-4">Welcome!</h1>
<h2 class="text-center p-2">Join the <b>CytyByke</b> Community</h2>
<h3 class="text-center text-muted p-3">
   Enter your information below to get started
</h3>
<hr/>
{% with messages = get_flashed_messages() %}
  {% if messages %}
    <ul class>
    {% for message in messages %}
      <li>{{ message }}</li>
    {% endfor %}
    </ul>
  {% endif %}
{% endwith %}

<form id="signup-form">
  <div class="row p-3">
    <div class="form-group col-md-4 offset-lg-2">
      <!--can we change type=email to have built in validation-->
      <input id="login" type="text" name="email" class="form-control"  placeholder="Email Address" required></input>
      <small id="emailHelp" class="form-text text-muted">Enter your email (Required)</small>
    </div>
    <div class="form-group col-md-4">
      <input id="password" type="password" name="password" class="form-control" placeholder="Password" minlength="6" required></input>
      <small id="passwordHelp" class="form-text text-muted">Choose a password of 8 characters minimum (Required)</small>
    </div>
    <div class="form-row p-3">
      <div class="form-group col-md-6 col-md-4 offset-lg-3 p-2">
        <input id="name" type="text" name="name" class="form-control" placeholder="Display Name"></input>
        <small id="nameHelp" class="form-text text-muted">If you don't want to choose a name now, you can save in Settings later</small>
      </div>
      <div class="form-group col-md-6 col-md-4 offset-lg-3 p-2">
        <!--add list of potential stations from database-->
        <input id="first_station" type="text" name="email" class="form-control" placeholder="Preferred Station"></input>
        <small id="first_stationHelp" class="form-text text-muted">If you don't want to choose a station now, you can save in Settings later</small>
      </div>
    </div>
  </div>
  <input type="submit" class="btn-outline btn-dark btn-lg col-md-2 offset-lg-5" value="Get Rollin">
</form>

<script src="https://www.gstatic.com/firebasejs/9.6.4/firebase-app-compat.js"></script>
<script src="https://www.gstatic.com/firebasejs/9.6.4/firebase-auth-compat.js"></script>

<script>
  window.onload = () => {
    console.log('Running onload')
    const firebaseConfig = {
      apiKey: "AIzaSyALE-ixa0ovDL8unWhkKt-5gwKQpWds2UY",
      authDomain: "cytybyke-c917e.firebaseapp.com",
      projectId: "cytybyke-c917e",
      storageBucket: "cytybyke-c917e.appspot.com",
      messagingSenderId: "4237355229",
      appId: "1:4237355229:web:e0fcf24ab9f52534c01334",
      measurementId: "G-750EM4JDLJ"
    };

    const app = firebase.initializeApp(firebaseConfig);

    app.auth().setPersistence(firebase.auth.Auth.Persistence.NONE);

    document
      .getElementById("signup-form")
      .addEventListener("submit", (event) => {
        event.preventDefault();
        const login = event.target.login.value;
        const password = event.target.password.value;
        const name = event.target.name.value;
        const first_station = event.target.first_station.value;

        // REMOVE CONSOLE.LOG
        // console.log(login);
        // console.log(password);

        app.auth().createUserWithEmailAndPassword(login, password)
          .then((userCredential) => {
            const user = userCredential.user;
            // REMOVE CONSOLE.LOG
            // console.log(user);

            // Since we are CREATING a user, we need to add a new section to the database

            user.getIdToken().then(function(idToken) {
              fetch("/sessionLogin", {
                method: "POST",
                headers: {
                  "Content-Type": "application/json",
                },
                body: JSON.stringify({
                  idToken: idToken,
                })
              }).then(function(response) {
                // REMOVE CONSOLE.LOG
                // console.log("success!")
                console.log(user.uid);

                fetch("/userDbCreation", {
                  method: "POST",
                  headers: {
                    "Content-Type": "application/json",
                  },
                  body: JSON.stringify({
                    uid: user.uid,
                    name: name,
                    first_station: first_station,
                  })
                });
                // return response.json();
              }).then(function (responseBody) {
                window.location.assign("/dashboard")
              }).catch(function(err) { debugger })
            });
          });
      });
  };
</script>

{% endblock content %}