{% extends "layout.html" %}

{% block content %}
<h1>Welcome to sign-up page</h1>

<h2>Enter your information below to join the CytyByke Community!</h2>

<input type="text" name="email"
               placeholder="Email Address"
               value="{{ request.form['email'] }}"></input>
<input type="text" name="password"
                placeholder="Password"
                value="{{ request.form['password'] }}"></input>
<div>
    <a class="btn btn-outline-primary" href="/settings">Save</a>
</div>

{% endblock content %}